@import '~bootstrap/scss/bootstrap';

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

body {
  background-image: url("../images/hotdogs.jpg");
  font-family: 'Kanit', sans-serif;
}

.navbar {
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar .navbar-brand {
  color: #D87511;
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background-image: url("../images/prism.png");
  border: 1px solid #ccc;
  border-radius: 30px;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  color: #D87511;
}