@import '~bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free';

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

body {
  background-image: url("../images/hotdogs.jpg");
  font-family: 'Kanit', sans-serif;
}

.navbar {
  box-shadow: 0px 1px 3px #2a2a2a;
  margin-bottom: 40px;
}

.navbar .navbar-brand {
  color: #D87511;
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  letter-spacing: 2.8px;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background-image: url("../images/prism.png");
  border: 1px solid #ccc;
  border-radius: 30px;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  color: #D87511;
}

div.pagy-combo-input.btn.btn-primary.disabled {
  background: #343a40;
  border-color: #D87511;
  color: #D87511;
}

a.prev.btn.btn-primary.disabled {
  background: #343a40;
  border-color: #D87511;
  color: #D87511;
}

a.next.btn.btn-primary.disabled {
  background: #343a40;
  border-color: #D87511;
  color: #D87511;
}

.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

#map {
  height: 300px;
}

.clear {
  clear: both;
}